docs/n8n-workflows/stripe-webhook-handler.json
{
  "name": "Anamnese-A: Stripe Webhook Handler",
  "nodes": [
    {
      "parameters": {
        "path": "/api/webhooks/stripe",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "stripe-webhooks"
    },
    {
      "parameters": {
        "functionCode": "// Verify Stripe signature\nconst signature = $input.item.json.headers['stripe-signature'];\nconst body = $input.item.json.body;\n\nif (!signature) {\n  throw new Error('Missing Stripe signature');\n}\n\n// In production, verify signature using Stripe SDK\n// const event = stripe.webhooks.constructEvent(\n//   body,\n//   signature,\n//   process.env.STRIPE_WEBHOOK_SECRET\n// );\n\n// For now, pass through the event\nconst event = typeof body === 'string' ? JSON.parse(body) : body;\n\nreturn {\n  json: event\n};"
      },
      "name": "Verify Signature",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "operation": "equals",
              "value2": "invoice.payment_succeeded"
            }
          ]
        }
      },
      "name": "Payment Succeeded?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.type}}",
                    "value2": "invoice.payment_succeeded"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "payment_succeeded"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.type}}",
                    "value2": "invoice.payment_failed"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "payment_failed"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.type}}",
                    "value2": "customer.subscription.created"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "subscription_created"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.type}}",
                    "value2": "customer.subscription.deleted"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "subscription_deleted"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.type}}",
                    "value2": "customer.subscription.updated"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "subscription_updated"
            }
          ]
        },
        "fallbackOutput": "other"
      }
    },
    {
      "parameters": {
        "functionCode": "const invoice = $input.item.json.data.object;\nconst licenseId = invoice.metadata.licenseId;\n\nif (!licenseId) {\n  throw new Error('No licenseId in invoice metadata');\n}\n\nreturn {\n  json: {\n    licenseId: licenseId,\n    amount: invoice.amount_paid,\n    currency: invoice.currency,\n    invoiceId: invoice.id,\n    customerId: invoice.customer,\n    paidAt: new Date(invoice.status_transitions.paid_at * 1000).toISOString()\n  }\n};"
      },
      "name": "Extract Payment Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE licenses SET status = 'active', last_payment = $1, billing_status = 'current' WHERE token = $2 RETURNING *",
        "additionalFields": {}
      },
      "name": "Activate License",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "fromEmail": "billing@anamnese-a.eu",
        "toEmail": "={{$json.clinic_email}}",
        "subject": "Zahlung erhalten - Anamnese-A",
        "text": "Guten Tag,\n\nIhre Zahlung über {{$node[\"Extract Payment Data\"].json.amount / 100}}€ wurde erfolgreich verarbeitet.\n\nRechnungsnummer: {{$node[\"Extract Payment Data\"].json.invoiceId}}\nDatum: {{$node[\"Extract Payment Data\"].json.paidAt}}\n\nIhre Lizenz ist aktiv.\n\nMit freundlichen Grüßen,\nIhr Anamnese-A Team"
      },
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const invoice = $input.item.json.data.object;\nconst licenseId = invoice.metadata.licenseId;\n\nif (!licenseId) {\n  throw new Error('No licenseId in invoice metadata');\n}\n\nreturn {\n  json: {\n    licenseId: licenseId,\n    invoiceId: invoice.id,\n    customerId: invoice.customer,\n    attemptCount: invoice.attempt_count\n  }\n};"
      },
      "name": "Extract Failure Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE licenses SET status = 'payment_pending', grace_period_ends = NOW() + INTERVAL '7 days' WHERE token = $1 RETURNING *, (SELECT email FROM clinics WHERE id = licenses.clinic_id) as clinic_email",
        "additionalFields": {}
      },
      "name": "Set Grace Period",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "fromEmail": "billing@anamnese-a.eu",
        "toEmail": "={{$json.clinic_email}}",
        "subject": "Zahlung fehlgeschlagen - Anamnese-A",
        "text": "Guten Tag,\n\nLeider konnte Ihre Zahlung nicht verarbeitet werden.\n\nRechnungsnummer: {{$node[\"Extract Failure Data\"].json.invoiceId}}\nVersuch: {{$node[\"Extract Failure Data\"].json.attemptCount}}\n\nBitte aktualisieren Sie Ihre Zahlungsmethode innerhalb von 7 Tagen, um eine Unterbrechung des Services zu vermeiden.\n\nSie können Ihre Zahlungsmethode hier aktualisieren:\nhttps://billing.anamnese-a.eu\n\nMit freundlichen Grüßen,\nIhr Anamnese-A Team"
      },
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const subscription = $input.item.json.data.object;\nconst licenseId = subscription.metadata.licenseId;\n\nreturn {\n  json: {\n    licenseId: licenseId,\n    subscriptionId: subscription.id,\n    status: subscription.status,\n    customerId: subscription.customer,\n    currentPeriodEnd: new Date(subscription.current_period_end * 1000).toISOString()\n  }\n};"
      },
      "name": "Extract Subscription Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE licenses SET stripe_subscription_id = $1, status = 'active', billing_status = 'current' WHERE token = $2 RETURNING *",
        "additionalFields": {}
      },
      "name": "Save Subscription",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const subscription = $input.item.json.data.object;\nconst licenseId = subscription.metadata.licenseId;\n\nreturn {\n  json: {\n    licenseId: licenseId,\n    subscriptionId: subscription.id,\n    canceledAt: new Date(subscription.canceled_at * 1000).toISOString()\n  }\n};"
      },
      "name": "Extract Cancellation Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE licenses SET status = 'canceled', canceled_at = $1 WHERE token = $2 RETURNING *, (SELECT email FROM clinics WHERE id = licenses.clinic_id) as clinic_email",
        "additionalFields": {}
      },
      "name": "Deactivate License",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1050, 500],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "fromEmail": "billing@anamnese-a.eu",
        "toEmail": "={{$json.clinic_email}}",
        "subject": "Abonnement gekündigt - Anamnese-A",
        "text": "Guten Tag,\n\nIhr Abonnement wurde gekündigt.\n\nKündigungsdatum: {{$node[\"Extract Cancellation Data\"].json.canceledAt}}\n\nIhre Lizenz wurde deaktiviert. Sie können jederzeit ein neues Abonnement starten.\n\nVielen Dank für Ihre Nutzung von Anamnese-A.\n\nMit freundlichen Grüßen,\nIhr Anamnese-A Team"
      },
      "name": "Send Cancellation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1250, 500],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Log other events\nconst event = $input.item.json;\n\nconsole.log('Unhandled Stripe event:', event.type);\n\nreturn {\n  json: {\n    eventType: event.type,\n    handled: false,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Log Other Events",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"received\": true} }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Payment Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Succeeded?": {
      "main": [
        [
          {
            "node": "Extract Payment Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Failure Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Subscription Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Cancellation Data",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Log Other Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payment Data": {
      "main": [
        [
          {
            "node": "Activate License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate License": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Failure Data": {
      "main": [
        [
          {
            "node": "Set Grace Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Grace Period": {
      "main": [
        [
          {
            "node": "Send Failure Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Failure Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Subscription Data": {
      "main": [
        [
          {
            "node": "Save Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Subscription": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cancellation Data": {
      "main": [
        [
          {
            "node": "Deactivate License",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate License": {
      "main": [
        [
          {
            "node": "Send Cancellation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cancellation Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Other Events": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
