docs/n8n-workflows/stripe-checkout-session.json
{
  "name": "Anamnese-A: Stripe Checkout Session",
  "nodes": [
    {
      "parameters": {
        "path": "/api/stripe/create-checkout-session",
        "method": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "stripe-checkout-session"
    },
    {
      "parameters": {
        "functionCode": "// Validate request\nconst body = $input.item.json.body;\n\nif (!body || !body.licenseId || !body.priceId) {\n  return {\n    json: {\n      success: false,\n      error: 'INVALID_REQUEST',\n      message: 'License ID and Price ID are required'\n    }\n  };\n}\n\n// Extract authorization token\nconst authHeader = $input.item.json.headers.authorization;\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return {\n    json: {\n      success: false,\n      error: 'UNAUTHORIZED',\n      message: 'Invalid or missing authorization token'\n    }\n  };\n}\n\nconst token = authHeader.substring(7);\n\n// Validate token matches licenseId\nif (token !== body.licenseId) {\n  return {\n    json: {\n      success: false,\n      error: 'UNAUTHORIZED',\n      message: 'Token mismatch'\n    }\n  };\n}\n\nreturn {\n  json: {\n    licenseId: body.licenseId,\n    priceId: body.priceId,\n    successUrl: body.successUrl || 'https://anamnese-a.eu?checkout=success',\n    cancelUrl: body.cancelUrl || 'https://anamnese-a.eu?checkout=cancel'\n  }\n};"
      },
      "name": "Validate Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT stripe_customer_id, clinic_name, clinic_email FROM licenses l JOIN clinics c ON l.clinic_id = c.id WHERE l.token = $1",
        "additionalFields": {
          "mode": "single"
        }
      },
      "name": "Get License Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.stripe_customer_id}}",
              "value2": "",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "name": "Has Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "name": "={{$json.clinic_name}}",
        "email": "={{$json.clinic_email}}",
        "additionalFields": {
          "metadata": {
            "metadataProperties": [
              {
                "key": "licenseId",
                "value": "={{$node[\"Validate Request\"].json.licenseId}}"
              },
              {
                "key": "source",
                "value": "anamnese_a"
              }
            ]
          }
        }
      },
      "name": "Create Stripe Customer",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "stripeApi": {
          "id": "2",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE licenses SET stripe_customer_id = $1 WHERE token = $2 RETURNING stripe_customer_id",
        "additionalFields": {}
      },
      "name": "Save Customer ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Get customer ID from either existing or newly created\nlet customerId;\nif ($input.item.json.stripe_customer_id) {\n  // Existing customer\n  customerId = $input.item.json.stripe_customer_id;\n} else {\n  // Newly created customer\n  customerId = $node[\"Save Customer ID\"].json.stripe_customer_id;\n}\n\nreturn {\n  json: {\n    customerId: customerId,\n    priceId: $node[\"Validate Request\"].json.priceId,\n    successUrl: $node[\"Validate Request\"].json.successUrl,\n    cancelUrl: $node[\"Validate Request\"].json.cancelUrl,\n    licenseId: $node[\"Validate Request\"].json.licenseId\n  }\n};"
      },
      "name": "Prepare Checkout Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "resource": "checkoutSession",
        "operation": "create",
        "mode": "subscription",
        "successUrl": "={{$json.successUrl}}",
        "cancelUrl": "={{$json.cancelUrl}}",
        "customer": "={{$json.customerId}}",
        "lineItems": {
          "lineItem": [
            {
              "price": "={{$json.priceId}}"
            }
          ]
        },
        "additionalFields": {
          "metadata": {
            "metadataProperties": [
              {
                "key": "licenseId",
                "value": "={{$json.licenseId}}"
              }
            ]
          },
          "billingAddressCollection": "required",
          "allowPromotionCodes": true
        }
      },
      "name": "Create Checkout Session",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "stripeApi": {
          "id": "2",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const session = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    sessionId: session.id,\n    url: session.url,\n    expiresAt: new Date(session.expires_at * 1000).toISOString()\n  }\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Get License Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get License Data": {
      "main": [
        [
          {
            "node": "Has Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Customer?": {
      "main": [
        [
          {
            "node": "Prepare Checkout Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Stripe Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stripe Customer": {
      "main": [
        [
          {
            "node": "Save Customer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Customer ID": {
      "main": [
        [
          {
            "node": "Prepare Checkout Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Checkout Data": {
      "main": [
        [
          {
            "node": "Create Checkout Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Checkout Session": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
